ion-item.selectors {
  ion-label {
    min-width: 40%;
    font-size: 90%;
  }

  ion-select {
    min-width: 60%;
  }
}

.divisor {
  width: 100%;
  height: 10%;
}

.divisorSup {
  width: 100%;
  height: 5%;
}

.divisorButtons {
  text-align: center;
}

.header-linha-selec {
  text-align: center;
}


