<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="getting-started">

  <div padding-vertical class='align-center'>
    <!-- <button id="blumenauBus-button3" ion-button round on-click="goToLINHAS()">
      <ion-icon name="search"></ion-icon>
      Pesquisar
    </button> -->
    <ion-searchbar [(ngModel)]="searchLinha" (ionInput)="filterLinhas()" placeholder="Digite a linha desejada" name="linhas-search"
      id="linhas-search">
    </ion-searchbar>
  </div>

  <div padding-vertical *ngIf="!searchLinha">
    <h2>Favoritos</h2>
    <ion-list id="fav-list">
      <button class='btnLinhas' ion-button full *ngFor="let fav of favoritos" on-click="goToLinhaSelecFav(fav.cd_linha)">
        <p> {{fav.cd_linha}} - {{fav.ds_linha}} </p>
      </button>
    </ion-list>
  </div>

  <div padding-vertical *ngIf="searchLinha">
    <ion-list id="linhas-list">
      <button class='btnLinhas' ion-button full *ngFor="let linha of linhas" on-click="goToLinhaSelec(linha)">
          <p> {{linha.cd_linha}} - {{linha.ds_linha}} </p>
      </button>
    </ion-list>
  </div>

</ion-content>
