<ion-header>
  <ion-navbar> <ion-title></ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
    <div padding-top class="header-linha-selec">
      <h4>{{ dsLinha }}</h4>
    </div>
  <ion-card *ngFor="let coment of comentarios">
    <ion-item>
      <h5>Por: {{ coment.username }}</h5>
      <p>E-mail: {{ coment.email }},  em {{ coment.dt_comentario }}</p>
    </ion-item>
    <ion-card-content>
      <p>{{ coment.ds_comentario }}</p>
    </ion-card-content>

    <!-- <ion-row>
      <ion-col>
        <button ion-button icon-start clear small *ngIf="{{coment.uid}} === {{uid}}">
          <ion-icon name="trash"> Remover </ion-icon>
        </button>
      </ion-col>
    </ion-row> -->

  </ion-card>
</ion-content>

<ion-footer padding>
  <ion-textarea
    [(ngModel)]="message"
    type="text"
    max="150"
    placeholder="Faça seu comentário"
  ></ion-textarea>
  <button ion-button small float-right round (click)="postComentario()">
    Enviar
  </button>
</ion-footer>
