<ion-header>
  <ion-navbar> <ion-title></ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <iframe name="hiddenFrame" class="hide"></iframe>
  <div padding-top class="header-linha-selec">
    <h4>{{ dsLinha }}</h4>
  </div>
  <ion-card *ngFor="let coment of comentarios">
    <button class="colunaBtn" ion-button icon-only clear small float-right
            *ngIf="coment.uid == uid" on-click="presentActionSheet(coment.key)">
      <ion-icon name="more"></ion-icon>
    </button>
    <ion-card-content>
      <div class="areaComent">
        <div class="mensagem">
          <p>{{ coment.ds_comentario }}</p>
        </div>
      </div>
    </ion-card-content>

    <ion-row class="footComentario">
      <ion-col class="colunaInfo">
        <ion-item>
          <p>{{ coment.username }} ({{ coment.email }})</p>
          <p>{{ coment.dt_comentario }}</p>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>

<ion-footer>
  <div class="divComentario">
    <ion-textarea
      class="form-contact-textarea"
      [(ngModel)]="message"
      type="text"
      max="150"
      placeholder="Faça seu comentário"
    ></ion-textarea>
    <button class="btnPost" ion-button small float-right round icon-only on-click="postComentario()">
      <ion-icon name="send"></ion-icon>
    </button>
  </div>
</ion-footer>
